*{
    background-color: #3B3B3A;
}

.logo_img{
    width: 150px;
    position: absolute;
}

*:focus {
    outline: none;
}

.tela_toda{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.nome{
    height: 50px;
    width: 400px;
    border-radius: 15px; 
    border: none;
    border-bottom: 2px solid #8534be; 
    text-align: left;
    color: white;
}

.senha1{
    height: 50px;
    width: 400px;  
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid #8534be;
    text-align: left;
    color: white;
}

.senha2{
    height: 50px;
    width: 400px;  
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid #8534be;
    text-align: left;
    color: white;
}

.dt_nascimento{
    height: 50px;
    width: 400px;  
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid #8534be;
    text-align: left;
    color: #6d6c6d; 

    
}

/* .dt_nascimento:valid{
    color: green;
}

.dt_nascimento:invalid{
    color: red;
} */

/* .dt_nascimento:valid{
    color: white;
} */

/* ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-month-field::placeholder { color: rgb(129, 129, 211); }
::-webkit-datetime-edit-day-field { color: green; } */



::placeholder{
    color: #6d6c6d;
}




.peso{
    height: 50px;
    width: 400px;  
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid #8534be;
    text-align: left;
    color: white;
}

.email{
    height: 50px;
    width: 400px;  
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid #8534be;
    text-align: left;
    color: white;
}

.altura{
    height: 50px;
    width: 400px;  
    border-radius: 15px;
    border: none;
    border-bottom: 2px solid #8534be;
    text-align: left;
    color: white;
}

.cadastrar{
    background-color: #8534be;
    height: 50px;
    width: 400px;
    border-radius: 15px;
    border: none;
    font-style: italic;
    color: white;
    letter-spacing: 1px;
}

.telainicial{
    background-color: #8534be;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    border: none;
    font-style: italic;
    color: white;
    letter-spacing: 1px;
    
}