.navbarrr{
padding: 10px;
width: 100vw;
box-sizing: border-box;
background-color: #3B3B3A;
}

.logomw img{
    position: relative;
    background-color: #3B3B3A;
    width: 200px;
    float: left;
    margin-left: calc(50% - 100px);
}

.login{
    position: relative;
    background-color: #AC4BF2;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 12px;
    left: calc(50% - 200px);
}
