{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="navbarrr">
        <div class="logomw">
            <img src="{% static 'img/mw.png' %}" alt="">
        </div>
        <div>
            <a href="{% url 'login' %}"><button class="login">Login</button></a>
        </div>
    </div>


    {% block content %}

    {% endblock %}
    <div class="footerr">
        <div class="logomw">
            <img src="" alt="">
        </div>
        <div>
            <h1 style="color: white;">
                Footer
            </h1>
            <button class=""></button>
        </div>
    </div>
    <!-- footer -->
</body>
</html>