{% load static %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
<html>
    <head>

    </head>

    <body>
        <img class="logo_img" src="{% static 'img/mw.png' %}" alt="">
        <div class="tela_toda">
            
            <form action="{% url 'cadastro' %}" method="post"> 
                {% csrf_token %}
                <input class="nome" type="text" placeholder="Nome" name="username">
                <br>
                <br>
                <input class="email" type="email" placeholder="Email" name="email">
                <br>
                <br>
                <input class="senha" type="password" placeholder="Senha" name="password">
                <br>
                <br>
                <input class="cadastrar" type="submit" value="Cadastrar">
                <br>

            </form>
            <a href="{% url 'index' %}"><button class="telainicial">Tela inicial</button></a>

        </div>
        
    </body>
</html>