{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<html>
    <head>

    </head>

    <body>
        <img class="logo_img" src="{% static 'img/mw.png' %}" alt="">
        <div class="tela_toda">
            {% if messages %}
            <ul class="msgs">
                {% for message in messages %}
                {% if message.tags%}
                    <!-- <li   class="{{ message.tags }}" >{{ message }}</li> -->
                    <p class="{{ message.tags }}" >{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <form class="" action="{% url 'login' %}" method="post"> 
                {% csrf_token %}
                <input class="nome" type="text" placeholder="Nome do usuário" name="username">
                <br>
                <br>
                <input class="senha" type="password" placeholder="Senha" name="password">
                <br>
                <br>
                <input class="logaaar" type="submit" value="Entrar">
                <br>
                
            </form>
            <a href="{% url 'cadastro' %}"><button class="cadastro">Não possui uma conta? Faça seu cadastro</button></a>
            <br>
            <a href="{% url 'index' %}"><button class="telainicial">Tela inicial</button></a>
        </div>

    </body>
</html>